body {
	background-color: ; /* background color */
	color: ; /* text color */
	font-family: Verdana; /* font name */
	font-size: 10px; /* font size */
	margin: 0px 0px 0px 0px; /* top right bottom left */
}

.phpmaker {
	color: ; /* text color */
	font-family: Verdana; /* font name */
	font-size: 10px; /* font size */	
}

input, textarea, select {	
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
} 

a:active {
	color: ; /* active link color */
}

a:link {
	color: ; /* link color */
}

a:visited {
	color: ; /* visited link color */
}

/* main table */
.ewTable {
	width: 1000; /* table width */	
	color: ; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border-collapse: collapse;
	border: none;
}

.ewTable_small {
	width: 800; /* table width */	
	color: ; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border-collapse: collapse;
	border: none;
}

/* main table data cells */
.ewTable td {
	padding: 4px; /* cell padding */
	border: 1px solid; /* cell spacing */
	border-color: #CCCCCC;  /* table background color */
}

/* main table header cells */
.ewTableHeader {
	background-image: url(images/table_header_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 40px;
	font-weight:bold;
	font-size:10px;
	color: #FFFFFF; /* header font color */	
	vertical-align: top;	
}

.ewTableHeaderThin {
	background-image: url(images/table_header_bg_thin.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 25px;
	font-weight:bold; 
	font-size:10px; 
	color: #FFFFFF; /* header font color */	
	vertical-align: middle;	
}

.ewTableHeader a {	
	color: #FFFFFF; /* header font color */	
}

/* main table row color */
.ewTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #F5F5F5; /* alt row color 2 */	
}

/* main table edit mode row color */
.ewTableEditRow {
	background-color: #FFFF99; /* edit mode color */
}

/* main table highlight color */
.ewTableHighlightRow {
	background-color: #EAECEE; /* highlight color */
}

/* main table select color */
.ewTableSelectRow {
	background-color: #EBEAC7; /* select color */
}

/* main table footer section */
.ewTableFooter {
	background-color: #FFFFCC;	
}

/* classes for report */
.ewGroupField {
	font-weight: bold;
}

.ewGroupName {
	font-weight: bold;
}

.ewGroupHeader {
	border-bottom: 3px double Gray;
	border-top: 3px double Gray;
}

.ewGroupSummary {
	border-top: 1px solid Gray;
} 

.ewGroupAggregate {
	font-weight: bold;
}

.ewGrandSummary {
	border-top: 1px solid Gray;
}

/* message */
.ewmsg {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}


.boton_small {
  background: #D22924 url("images/corners_small.gif") no-repeat left bottom;
  margin:0 0 0;
  padding:0 0 2px;
  color:#ffffff;
  width:60px;
  height:20px;
  font-weight: bold;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  vertical-align:middle;
  text-align:center;
  border: none;
  cursor:pointer;    
 }

.boton_medium {
  background: #D22924 url("images/corners_medium.gif") no-repeat left bottom;
  margin:0 0 0;
  padding:0 0 2px;
  color:#ffffff;
  width:120px;
  height:20px;
  font-weight: bold;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  text-align:center;  
  border: none;
  cursor:pointer;  
 }

.boton_large {
  background: #D22924 url("images/corners_large.gif") no-repeat left bottom;
  margin:0 0 0;
  padding:0 0 2px;
  color:#ffffff;
  width:160px;
  height:20px;
  font-weight: bold;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  vertical-align:middle;
  text-align:center;  
  border: none;
  cursor:pointer;        
 }

.texto_titulo{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: bold;
	color:#000000;
}

.texto_normal{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}

.texto_normal_bold{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#000000;
}

.texto_small{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
}

.importe{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:right;
}


.TG_visible{
 display: normal;
}

.TG_hidden {
	display: none;
}
